:root {
  --max-width: 1170px;
  --fixed-width: 450px;
}

body {
  margin: 0;
  padding: 0;
  background-color: blanchedalmond;
}

.App {
  text-align: center;
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.list {
  display: flex;
}

.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

input {
  margin: 0 auto;
}

.center-card {
  background-color: #fff;
  padding: 10px;
  margin: 50px auto!important;
  border-radius: 6px;
  box-shadow: 10px 5px 5px #000;
}

